* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mona Sans' !important;
  color: #f5f5f5;
  
}
body {
  background-color: #333;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.parent {
  background-color: #6e5494;
  border-radius: 4px;
}

.wrapper {
  display: flex; 
  flex-direction: column;
  height: 750px;
  overflow-y: scroll;
  scrollbar-color: #c9510c;
}
